:root {
  --header-border: #ececec;
  --highlight-hover: #188ce8;
  --border-solid: #eeeeee;
  --background-white: #f5f4fa;
  --dark-grey: rgba(47, 48, 58, 0.8);
  --hero-background: #2f303a;
  --white-rgba: rgba(255, 255, 255, 0.6);
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --highlight-color: #2196f3;
  --card-set-gap: 30px;
  --social-color: #afb1b8;
  --form-input-color: rgba(33, 33, 33, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);
  --footer-border-color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  text-decoration: none;
  font-family: Roboto, Sans-sarif;
  list-style: none;
  padding: 0;
  color: var(--main-text-color);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin: 0;
  padding: 94px 0;
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
  text-decoration: none;
  color: var(--black);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.logo__part {
  color: var(--highlight-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  background-color: var(--highlight-color);
  color: var(--background-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--highlight-hover);
}

.footer-form__button:hover,
.footer-form__button:focus {
  background-color: var(--highlight-hover);
}

.section-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-text-color);
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.site-nav__item {
  list-style-type: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__list .site-nav__link.site-nav__link--active {
  position: relative;
  color: var(--highlight-color);
}

.site-nav__link--active::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--highlight-color);
  border-radius: 2px;
  margin-bottom: -3px;
}

.site-nav__list .site-nav__link.site-nav__link--active {
  color: var(--highlight-color);
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--highlight-color);
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__item {
  list-style-type: none;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item:hover, .contact__item:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contact__icon {
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/imghero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imghero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background);
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--background-color);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
}

.order-button:hover,
.order-button:focus {
  color: var(--background-color);
  background-color: var(--highlight-hover);
}

.backdrope.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrope.is-hidden .modal {
  -webkit-transform: translate(50%, 50%) scale(0.3);
          transform: translate(50%, 50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--background-color);
  padding: 40px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--background-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms cubic-bezier(0.4, 0, 0.2, 1) fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms cubic-bezier(0.4, 0, 0.2, 1) fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover,
.modal__button:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.modal__button_close {
  width: 18px;
  height: 18px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-field__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.form-field__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-field__input_wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.form-field__input_wrapper:hover
.form-field__input_wrapper:focus {
  border-color: var(--highlight-color);
  fill: var(--highlight-color);
}

.form-field__input {
  display: block;
  width: 100%;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid var(--form-input-color);
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input_icon {
  position: absolute;
  top: 50%;
  left: 11px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus,
.form-field__input:hover {
  border-color: var(--highlight-color);
}

.form-field__input:focus + .form-field__input_icon,
.form-field__input:hover + .form-field__input_icon {
  fill: var(--highlight-color);
}

.form-field__label_comment {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-field__textarea {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--form-input-color);
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.form-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.form-field__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder);
}

.form-field__textarea:hover,
.form-field__textarea:focus {
  border-color: var(--highlight-color);
}

.form-field__checkbox {
  position: relative;
  padding-left: 23px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: var(--highlight-color);
  text-decoration: underline;
}

.form-field__checkbox_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field__checkbox_custom {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__checkbox_input:checked + .form-field__checkbox_custom {
  border-color: transparent;
  background-color: var(--highlight-color);
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.form-field__checkbox_input:checked + .form-field__checkbox_custom:focus {
  border-color: var(--highlight-color);
}

.form-field__checkbox_input:focus + .form-field__checkbox_custom {
  border-color: var(--highlight-color);
}

.button:hover,
.button:focus {
  background-color: var(--highlight-hover);
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  margin: 0;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-white);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  list-style-type: none;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__discription {
  position: relative;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  width: 370px;
  height: 70px;
  background: var(--dark-grey);
}

.about__box--title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.team {
  background-color: var(--background-white);
}

.team__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  list-style-type: none;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  text-align: center;
  padding: 30px 34px;
}

.team__name {
  margin: 0;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__position {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-list:not(:last-child) {
  margin-right: 10px;
}

.social-links__icon {
  fill: var(--social-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon:hover,
.social-links__icon:focus {
  background-color: var(--highlight-color);
  fill: var(--background-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.client__list > li:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  fill: var(--social-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--highlight-color);
  fill: var(--highlight-color);
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  background-color: var(--hero-background);
}

.color-footer .logo {
  color: var(--background-color);
  padding: 0;
  margin-bottom: 20px;
}

.color-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-footer {
  margin-right: 70px;
}

.address-text {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text:hover,
.address-text:focus {
  color: var(--highlight-color);
}

.footer-contacts__list {
  list-style-type: none;
}

.footer-contacts__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 0;
  margin: 0;
  color: var(--white-rgba);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--highlight-color);
}

.footer-social {
  padding-top: 12px;
}

.footer-social__title {
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--background-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__icon {
  fill: var(--background-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--highlight-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 570px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-form__title {
  display: inline-block;
  padding-top: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.footer-form__input {
  width: 358px;
  margin-top: 20px 12px 0 0;
  padding: 15px 16px;
  border: 1px solid var(--footer-border-color);
  -webkit-filter: drop-shadow(0px 4px 4px var(--shadow));
          filter: drop-shadow(0px 4px 4px var(--shadow));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--background-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-rgba);
}

.footer-form__input:hover,
.footer-form__input:focus {
  border-color: var(--background-color);
}

.footer-form__button {
  padding: 10px 28px 10px 29px;
}

.footer-form__button:hover,
.footer-form__button:focus {
  background-color: var(--highlight-hover);
}

.footer-form__button_icon {
  margin-left: 10px;
  fill: var(--background-color);
}

.button-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-bottom: 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__button {
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover,
.button-list__button:focus {
  background-color: var(--highlight-color);
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-list__links {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__links:hover,
.project-list__links:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__item {
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
      flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.project-list__links:hover .project-discription {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--highlight-color);
  color: var(--background-color);
  padding: 63px 24px;
}

.project-list__links:hover .overlay,
.project-list__links:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  text-align: left;
  margin: 0;
  padding: 20px 24px;
  border-top: none;
  border: 1px solid var(--border-solid);
}

.card__titel {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.card__text {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */