@import "./utils/variables";
@import "./utils/placeholder";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/reset";
@import "./base/container";
@import "./base/sections";

@import "./components/logo";
@import "./components/button";
@import "./components/section-title";
@import "./components/social-links";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/modal";
@import "./layout/advatages";
@import "./layout/about";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
