.header {
  border-bottom: 1px solid var(--header-border);
  
}
.header__container{
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  justify-content: space-between;
}
.site-nav__list {
  display: flex;
  margin: 0;
}
.site-nav__item {
  list-style-type: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__list .site-nav__link.site-nav__link--active {
  position: relative;
  color: var(--highlight-color);
}
.site-nav__link--active::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--highlight-color);
  border-radius: 2px;
  margin-bottom: -3px;
}

.site-nav__list .site-nav__link.site-nav__link--active {
  color: var(--highlight-color);
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
  color: var(--highlight-color);
}

}

.contact__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__item {
  list-style-type: none;

  &:not(:last-child) {
  margin-right: 50px;
}
}


.contact__item {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
  color: var(--highlight-color);
  fill: var(--highlight-color);
}
}
 
.contact__icon {
  margin-right: 10px;
}