.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/imghero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background);
}
.hero__title {
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--background-color);
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
}


.order-button:hover,
.order-button:focus {
  color: var(--background-color);
  background-color: var(--highlight-hover);
}