h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
}
*,
*::before,
*::after {

  margin: 0;
}