:root {
  --header-border: #ececec;
  --highlight-hover: #188ce8;
  --border-solid: #eeeeee;
  --background-white: #f5f4fa;
  --dark-grey: rgba(47, 48, 58, 0.8);
  --hero-background: #2f303a;
  --white-rgba: rgba(255, 255, 255, 0.6);
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --highlight-color: #2196f3;
  --card-set-gap: 30px;
  --social-color: #afb1b8;
  --form-input-color: rgba(33, 33, 33, 0.2);
  --placeholder: rgba(117, 117, 117, 0.5);
  --footer-border-color: rgba(255, 255, 255, 0.3);
}